!!!
%html{ lang: "en" }
  %head
    = partial "partials/head_contents"
  %body{ class: page_classes }
    = partial "partials/navbar"
    .container.text-left.blogpost
      = image_tag current_article.data.image_url, alt: "#{current_article.title}", class: 'img-responsive'
      .container
        %h1.text-center #{current_article.title}
        .text-center.text-uppercase.date-comment
          = succeed " | " do
            %span Last Updated On #{current_article.date.strftime('%b %e %Y')}
          %span.comments
            = link_to "#{current_article.url}#disqus_thread", class: 'comments' do
              " | Comments"
        = yield
      = disqus
      = disqus_count
    = partial "partials/newsletter", locals: { title: 'Peek over my shoulder as I share everything on my journey to $100,000 in monthly revenue.' }
    = partial "partials/footer"
