%footer.footer
  .container.hidden-xs
    .row
      .col-sm-3.vertical-menu
        = link_to '/' do
          = image_tag 'logo.png'
        %p.intro I'm Adrian Ching, I'm a software engineer. I make digital products.
      .col-sm-3.vertical-menu
        %h5 Work
        = link_to 'iWealth', 'https://iwealth.com.my', target: '_blank'
        = link_to 'The Malaysian Insight', 'https://www.themalaysianinsight.com', target: '_blank'
        = link_to 'rohm', 'http://www.rohmapp.com/', target: '_blank'
        = link_to 'Teleme', 'https://teleme.co/download', target: '_blank'
        = link_to 'FieldOps360', 'https://www.fieldops360.com', target: '_blank'
        = link_to 'Carpit', 'https://mycarpit.com', target: '_blank'
        = link_to 'Foooqy', 'https://www.foooqy.com', target: '_blank'
      .col-sm-3.vertical-menu
        %h5 Ventures
        = link_to 'Upstack Studio', 'https://upstackstudio.com', target: '_blank'
      .col-sm-3.vertical-menu
        %h5 Connect
        = link_to 'Blog', '/blog'
        = link_to 'Twitter', 'https://twitter.com/adrianchinghc', target: '_blank'
        = link_to 'Github', 'https://github.com/adrianchinghc', target: '_blank'

  .container.visible-xs
    .row
      .col-xs-3
        = link_to '/' do
          = image_tag 'logo.png'
      .col-xs-9.text-left
        %p.intro I'm Adrian Ching, I'm a software engineer. I make digital products.
    .row
      .col-xs-6.vertical-menu
        %h5 Work
        = link_to 'iWealth', 'https://iwealth.com.my', target: '_blank'
        = link_to 'The Malaysian Insight', 'https://www.themalaysianinsight.com', target: '_blank'
        = link_to 'rohm', 'http://www.rohmapp.com/', target: '_blank'
        = link_to 'Teleme', 'https://teleme.co/download', target: '_blank'
        = link_to 'FieldOps360', 'https://www.fieldops360.com', target: '_blank'
        = link_to 'Carpit', 'https://mycarpit.com', target: '_blank'
        = link_to 'Foooqy', 'https://www.foooqy.com', target: '_blank'
      .col-xs-6
        .vertical-menu
          %h5 Ventures
          = link_to 'Upstack Studio', 'https://upstackstudio.com', target: '_blank'
        .vertical-menu
          %h5 Connect
          = link_to 'Blog', '/blog'
          = link_to 'Twitter', 'https://twitter.com/adrianchinghc', target: '_blank'
          = link_to 'Github', 'https://github.com/adrianchinghc', target: '_blank'
  .container.copyright
    .row
      %p © #{Date.today.year} Adrian Ching
